/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 Apr 2023, 10:02:03 am
    Author     : MUHAMMAD FAUZUL AZIM BIN IMRAN HAYAT
*/
body{
    margin: 0;
    padding: 0;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fa0039;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem 10px;
}

.footer-info {
  width: 50%;
  margin-right: 20px;
}

.footer-links {
  width: 25%;
}

.footer-links ul {
  list-style: none;
  padding-left: 0;
}

.footer-links a {
  color: #fff;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #d90b27;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}

.fa {
  margin-right: 5px;
}
