/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 Apr 2023, 9:39:20 am
    Author     : MUHAMMAD FAUZUL AZIM BIN IMRAN HAYAT
*/

/* Header */
.header {
    background-color: #fa0039;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navigation {
    display: flex;
    align-items: center;
    position: relative; /* added */
}

.navigation a {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.navigation a:hover {
    background-color: #f5f5f5;
}

.navigation .active {
    background-color: #333;
    color: #fff;
}

.navigation .active:hover {
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #f5f5f5;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    background-color: #f5f5f5;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
    display: block;
}
